@model  DailySports.ServiceLayer.Dtos.NewsListDto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   <div class="basic_bg_image">
    <div class="container bg-inherit">
        <div class="home_content">
            <div class="content_bg_img"></div>
            <div class="h_content">
                <div class="col-sm-8 pad-zero">
                  
                    @foreach (var latest in Model.Latest)
                    {
                    <div class="news_area bg-image" style="background-image:url('@latest.NewsImage'); background-size: 767px 430px;">
                        <div class="news_dota_ico"><img src="@latest.Game.GameImage" alt="@latest.Game.Name" class=""></div>
                        <div class="news_title">
                            <a href="@Url.Action("GetNews", new { @id = latest.Id })"><h4>@latest.Title</h4></a>
                        </div>
                    </div>
                    }
                    <br>
                    <div class="latest_new_videos br-top">
                        <br>
                        <div class="latest_new_videos_box">
                            @foreach (var news in Model.AllNews)
                            {
                            <div class="col-sm-6 new_small_box">
                                <div class="news_area bg-image" style="background-image:url('@news.NewsImage'); background-size: 368px 260px;">
                                    <div class="news_dota_ico"><img src="@news.Game.GameImage" alt="@news.Game.Name" class=""></div>
                                    <div class="news_title">
                                        <a href="@Url.Action("GetNews",new {@id=news.Id })"><h4>@news.Title</h4></a>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="col-sm-6 pad-zero">
                            <button class="btn more_tour_btn pull-right"><i class="fa fa-caret-left"></i>PREV</button>
                        </div>
                        <div class="col-sm-6 pad-zero">
                            <button class="btn more_tour_btn pull-left">next <i class="fa fa-caret-right"></i></button>
                        </div>
                        <div class="float_left height_200"></div>
                    </div>
                </div>
                <div class="col-sm-4 pad-zero">
                    <div class="sb_titles_small">
                        <div class="sb_titles_col">
                            @foreach (var news in Model.AllNews)
                            {
                            <div class="col-sm-5 pad-right-zero sb_titles_col_img">
                                <img src="@news.NewsImage" style="height:86px; width: 156px;" alt="#">
                            </div>
                            <div class="col-sm-7 sb_titles_col_text hvr-bounce-to-right">
                                <a href="@Url.Action("GetNews",new {@id=news.Id })"><h4>@news.Title</h4></a>
                            </div>
                            }
                        </div>
                        
                        
                        
                    </div>
                    <div class="side_bar br-left float_left">
                        <div class="sb_search">
                            @using (Html.BeginForm("Search", "News", FormMethod.Post))
                            {
                                <i class="fa fa-search"></i>

                                    @Html.TextBox("Search", "", new { @type = "text", @autocomplete = "on", @class = "form-control", @placeholder = "Search..." })
                            }
                        </div>
                        <div class="matches_sidebar float_left">
                            <h4 class="col-sm-12 f_bol main_head">NEXT MATCHES</h4>
                            <div class="matches_box">
                                @foreach (var match in Model.NextMatches)
                                {
                                <div class="matches_con">
                                    <div class="col-sm-1 matches_box_img pad-zero">
                                        <img src="~/images/Overwatch.png" alt="#">
                                    </div>
                                    <div class="col-sm-11 matches_box_con pad-zero">
                                        <div class="upper_matches">
                                            <h5>@match.TournamentName <span>Americas Qualifier Semifinals</span></h5>
                                        </div>
                                        <div class="lower_matches">
                                            <h5 class="lower_m1"><img src="~/images/BR-Flag-copy.png" alt=""> @match.TeamAName</h5>
                                            <h5 class="lower_m2">VS <img src="~/images/BR-Flag-copy.png" alt=""> @match.TeamBName</h5>
                                            <h5 class="lower_m3">@match.Date.ToLocalTime()</h5>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Watch >
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><img src="~/images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                                    <li><img src="~/images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }

                            </div>
                        </div>
                        <div class="pet_day float_left">
                            <h4 class="f_bol col-sm-12 main_head">PET OF THE WEEK</h4>
                            <div class="pet_of_day float_left">
                                @foreach (var pet in Model.PetOfTheDay)
                                {
                                <div class="bg-image pet_image" style="background-image:url('../../images/@pet.PetImage')">
                                    <div class="pet_day_heading"><h4>@pet.Title</h4></div>
                                    <div class="pet_day_overlay">
                                        <p>Name: @Html.Raw(pet.Description.ToString())</p>
                                        @if (pet.Gender == true)
                                        {
                                            <p>Gender: Female</p>

                                        }
                                        else
                                        {
                                            <p>Gender: Male</p>

                                        }
                                        <p>Age: @pet.Age</p><p>Breed: Mixed</p>
                                        <p>Fun Fact: @pet.FunFact </p>
                                        <p>Owner: @pet.Owner </p>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        <div class="float_left">
                            <h4 class="f_bol col-sm-12 main_head">#DAILYESPORTS</h4>
                            <div class="twitter_widget col-sm-12">
                                <a data-height="500" class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets - Curated tweets by TwitterDev</a>
                                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>