@model DailySports.DataLayer.Model.PlaceEntry

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Place Entry</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
                    { @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PrizePoolId, "PrizePoolId", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.DropDownList("PrizePoolId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PrizePoolId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Create" class="btn btn-success" />

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>


</section>

