@model IEnumerable<DailySports.DataLayer.Model.CarouselItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Carousel Items List</h3>
                </div>
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table id="table" class="table table-hover tablesorter">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Image)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Text)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            <a href="@Globals.CDNContent(item.Image)">Link</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Text)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Create New", "Create")
        </div>
    </div>

</section>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#table").tablesorter(); 
    } 
); 
</script>