@model  DailySports.ServiceLayer.Dtos.TournementsDto
@{
    ViewBag.Title = "GetTournament";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="basic_bg_image">
    <div class="container bg-inherit">
        <div class="tournament_upper">
            <div class="col-sm-6">
                <div class="tournament_iframe">
                    <div style="width:500px;height:300px">
                        @{
                            var mainStream = 0;
                            if (Model.Streams.Any()) {
                                while (mainStream < Model.Streams.Count && !Model.Streams[mainStream].Main)
                                {
                                    mainStream++;
                                }
                                if (mainStream >= Model.Streams.Count) {
                                    mainStream = 0;
                                }
                                <iframe width="100%" height="100%" src="@Model.Streams[mainStream].URL" frameborder="0" allowfullscreen></iframe>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="featured_stream">
                    <div class="featured_stream_up">
                        <h4>Featured Stream</h4>
                    </div>
                    <div class="featured_stream_middle">
                        <div class="col-sm-2">
                            <div class="strea_avatar">
                                <img src="@Globals.CDNContent(Model.TournamentImage)" alt="@Model.Title">
                            </div>
                        </div>
                        <div class="col-sm-10 pad-zero">
                            <h5>@Model.Title</h5>
                            <!--h5><i class="fa fa-eye"></i>11,881</h5-->
                        </div>
                        @if (Model.Streams.Any()) {
                            <p class="col-sm-12">@Model.Streams[mainStream].Name</p>
                        }
                    </div>
                    <div class="featured_stream_bottom">
                        <button class="btn">open stream</button>
                        <button class="btn">theater mode</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="home_content">
            <div class="content_bg_img"></div>
            <div class="h_content">
                <div class="basic_content">
                    <div class="post_page_header tour_small_header light_black_bg height_40">
                        <div class="col-sm-9 h_100_per pad-zero tour_search_header">
                            <ul class="filters nav nav-tabs tour_post_tabs" role="tablist">
                                <li role="presentation" class="current active"><a href="#Overview" aria-controls="Overview" role="tab" data-toggle="tab">Overview</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3 pad-zero">
                            <div class="sb_search">
                                <i class="fa fa-search"></i>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </div>
                    </div>
                    <div class="tournament_details">
                        <div class="col-sm-8 pad-zero br-right">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active fade in" id="Overview">
                                    <div class="tabs_content">
                                        @Html.Raw(Model.Overview)
                                    </div>
                                </div>
                            </div>
                            <div class="tour_format">
                                <div class="col-sm-12">
                                    <h4 class="f_bol main_head">FORMAT</h4>
                                    @foreach (var stage in Model.Stages.OrderBy(x => x.StartDate))
                                    {
                                        <div class="tour_format_text">
                                            <div class="text_1">
                                                <h5>- @stage.Name - @stage.StartDate.ToString("d") - @stage.EndDate.ToString("d")</h5>
                                            </div>
                                            <div class="text_2">
                                                @Html.Raw(stage.Description)
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tour_latest">
                                @foreach (var news in Model.News)
                                {
                                    <div class="tournament_box">
                                        <div class="col-sm-4 tournament_box_img pad-zero">
                                            <img src="@Globals.CDNContent(news.NewsImage)" alt="#">
                                        </div>
                                        <div class="col-sm-8 tournament_box_text">
                                            <h3>@news.Title</h3>
                                            <h4 class="t_sub_heading grey">
                                                Posted by <span class="red"> @news.Author.Name </span>
                                                , @news.Date.ToString("d")
                                            </h4>
                                            @Html.ActionLink("read more", "GetNews", "News", new { Id = news.Id }, "href")
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tour_matches">
                                <h4 class="tour_matches_Sub main_head">MATCHES</h4>
                                <div class="tournament_stream">
                                    @foreach (var stage in Model.Stages)
                                    {
                                        <h3>@stage.Name</h3>
                                        foreach (var match in stage.Matches)
                                        {
                                            <div class="lower_matches float_left col-sm-12 text-center">
                                                <div class="col-sm-4">
                                                    <div class="col-xs-4">
                                                        <img src="@Globals.CDNContent(match.TeamA.Logo)" alt="">
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <h4 class="lower_m1 f_bol">@match.TeamA.Name</h4>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1 text-center">
                                                    <h4 class="lower_m1 f_bol">@match.ScoreA : @match.ScoreB</h4>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="col-xs-8">
                                                        <h4 class="lower_m2 f_bol">@match.TeamB.Name</h4>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <img src="@Globals.CDNContent(match.TeamB.Logo)" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <h4 class="tour_time">@match.Date.ToString(@"HH:mm MM\/dd\/yyyy")</h4>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-sm-12 float_left height_450">
                                <h3 class="main_head">GALLERY</h3>
                            </div>
                        </div>
                        <div class="col-sm-4 pad-zero">
                            <div class="tour_prize_pool">
                                <h3 class="col-sm-12">PRIZE POOL <span class="green pull-right">@Model.PrizePool.Amount+</span></h3>
                                @{
                                    for (int i = 0; i < Model.PrizePool.Distribution.Count; i++)
                                    {
                                        var entry = Model.PrizePool.Distribution[i];
                                        <div class="tour_prize_table_upper text-center">
                                            @if (i == 0 || Model.PrizePool.Distribution[i - 1].Place != entry.Place)
                                            {
                                                <div class="col-sm-2 tables_col"><h5 class="f_bol">@entry.Place</h5></div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-2 tables_col"></div>
                                            }
                                            <div class="col-sm-3 tables_col"><h5 class="f_bol">@entry.Amount</h5></div>
                                            <div class="col-sm-4 col-sm-offset-3 tables_col text-left team_last"><h5 class="f_bol">@entry.Team.Name</h5></div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="tour_teams float_left br-top">
                                <h3 class="col-sm-12">URL</h3>
                                <div class="tour_prize_table_upper text-center">
                                    <h4><a href="@Model.URL">Official Website</a></h4>
                                </div>
                            </div>
                            <div class="tour_teams float_left br-top">
                                <h3 class="col-sm-12">Venue/Address</h3>
                                <div class="tour_prize_table_upper text-center">
                                    <h4>@Model.Venue</h4>
                                </div>
                            </div>
                            <div class="tour_teams float_left br-top">
                                <h3 class="col-sm-12">Streams</h3>
                                <div class="tour_prize_table_upper text-center">
                                    @foreach (var stream in Model.Streams)
                                    {
                                        if (!stream.Main) {
                                            <h4>
                                                <a href="@stream.URL">@stream.Name</a>
                                            </h4>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="tour_teams float_left br-top">
                                <div class="col-sm-12">
                                    <h3>THE TEAMS</h3>
                                    @foreach (var tl in Model.TeamLists)
                                    {
                                        <div class="col-sm-12 text-center">
                                            <div class="col-sm-12 text-center">
                                                <h4 class="f_bol tour_team_sub col-sm-12">@tl.Name</h4>
                                            </div>
                                            <div class="col-sm-12">
                                                @for (var i = 0; i < tl.Teams.Count; i++)
                                                {
                                                    var team = tl.Teams[i];
                                                    @if (i % 4 == 0) {
                                                        @:<div class="row">
                                                    }
                                                    <text>
                                                    <div class="col-sm-3 text-center">
                                                        <div class="tour_team_logo_box" style="height: 40px; display: table-cell; vertical-align: middle;">
                                                            <img src="@Globals.CDNContent(team.Logo)" alt="#">
                                                        </div>
                                                        <div class="" style="word-wrap: normal">
                                                            @team.Name
                                                        </div>
                                                    </div>
                                                    </text>
                                                     @if (i % 4 == 3) {
                                                        @:</div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        
                                    }
                                </div>
                            </div>
                            @*<div class="matches_sidebar float_left br-top">
                                <h4 class="col-sm-12 f_bol main_head">NEXT MATCHES</h4>
                                <div class="matches_box">
                                    @*foreach (var match in Model.NextMatches)
                                    {
                                    <div class="matches_con">
                                        <div class="col-sm-1 matches_box_img pad-zero">
                                            <img src="~/images/League.png" alt="#">
                                        </div>
                                        <div class="col-sm-11 matches_box_con pad-zero">
                                            <div class="upper_matches">
                                                <h5>Model.Title <span> Model.Qualifiers </span></h5>
                                            </div>
                                            <div class="lower_matches">
                                                <h5 class="lower_m1"><img src="~/images/BR-Flag-copy.png" alt=""> match.TeamAName</h5>
                                                <h5 class="lower_m2">VS <img src="~/images/BR-Flag-copy.png" alt=""> match.TeamBName</h5>
                                                <h5 class="lower_m3">match.Date.ToString("D")</h5>
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Watch >
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><img src="~/images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                                        <li><img src="~/images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>