@model IEnumerable<DailySports.DataLayer.Model.Match>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Matches List</h3>
                </div>
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table id="table" class="table table-hover tablesorter">
                            <thead>
                                <tr>
                                    <th>
                                        Team A
                                    </th>
                                    <th>
                                        Score A
                                    </th>
                                    <th>
                                        Score B
                                    </th>
                                    <th>
                                        Team B
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Date)
                                    </th>
                                    <th>
                                        Tournament - Stage
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TeamA.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ScoreA)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ScoreB)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TeamB.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @item.Stage.Tournament.Title - @item.Stage.Name
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }


                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Create New", "Create")
        </div>
    </div>

</section>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#table").tablesorter(); 
    } 
); 
</script>