@model DailySports.ServiceLayer.Dtos.TounamentListDto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-tour-img bg-image" style="background-image:url('@Globals.CDNContent("website-tournament-banner.png")')">
    @foreach (var latest in Model.LatestTournament)
    {
        <div class="main-tour-sec">
            <div class="container">
                <div class="col-sm-6 pad-left-zero">
                    <div class="tournament_iframe">
                        <div style="width:560px; height:345px">
                            <iframe width="100%" height="100%" src="@latest.URL" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pad-right-zero">
                    <div class="upper_tournament_add bg-image" style="background-image:url('@latest.TournamentImage')">
                        <div class="upper_tournament_add_layer">
                            <h3>@latest.Title <span class="grey">@latest.StartDate.ToLongDateString()</span> - <span class="grey">@latest.EndDate.ToLongDateString()</span> <span class="pull-right green">$@latest.Price+</span></h3>
                            <p>@Html.Raw(latest.Description.ToString())</p>
                            <p>@latest.Overview</p>
                            <a href="@Url.Action("GetTournament", new { @id = latest.Id })" class="pull-right grey">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="container bg-inherit">
    <div class="home_content">
        <div class="content_bg_img"></div>
        <div class="h_content">
            <div class="basic_content">
                <div class="post_page_header tour_small_header height_40 bg_light_black">
                    <div class="col-sm-4 h_100_per pad-zero tour_search_header">
                        <ul class="filters">
                            <li data-filter=".tour"><a href="javascript:void(0)"><i class="fa fa-align-justify"></i>TOURNAMENTS</a></li>
                            <li data-filter=".stream"><a href=""><i class="fa fa-align-justify"></i>STREAMS</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <div class="filter2">
                            <h4>Filter:</h4>
                            <ul class="filters_one">
                                @foreach (var game in Model.AllGames)
                                {
                                    <li data-filter="@game.Id"><a href=""><img src="@Globals.CDNContent(game.GameImage)" /></a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 pad-zero">
                        <div class="sb_search">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </div>
                </div>
                <div class="tournament_details">
                    <div class="isotope">
                        @foreach (var Tournament in Model.AllTournaments)
                        {
                            <div class="tour_filter_layout element-item dota bf3 tour">
                                <a href="@Url.Action("GetTournament",new { @id=Tournament.Id })">
                                    <div class="tour_filter_box br-bottom">
                                        <div class="col-sm-3 pad-zero">
                                            <div class="tour_filter_box_image">
                                                <img src="@Globals.CDNContent(Tournament.TournamentImage)" alt="@Tournament.Title">
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="tour_filter_box_content float_left">
                                                <div class="tour_filter_upper float_left">
                                                    <h3 class="pull-left"><img src="@Globals.CDNContent(Tournament.Game.GameImage)" alt="@Tournament.Game.Name">@Tournament.Title <span>@Tournament.StartDate.ToLongDateString()</span> - <span>@Tournament.EndDate.ToLongDateString()</span></h3>
                                                    <h3 class="green pull-right">$@Tournament.Price+</h3>
                                                </div>
                                                <div class="tour_filter_lower float_left">
                                                    <div class="col-sm-9 pad-zero">
                                                        <p>@Html.Raw(Tournament.Description.ToString())</p>
                                                    </div>
                                                    <div class="col-sm-3 pad-zero">
                                                        <div class="tour_live_games text-right pull-right">
                                                            <div class="btn-group" role="group">
                                                                <button type="button" class="btn btn-default dropdown-toggle live_game_btn">
                                                                    <i class="fa fa-circle red"></i> LIVE GAMES <i class="fa fa-angle-down"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="tour_stream_content">
                                    <div class="tournament_stream">
                                        <div class="tour_stream_box">
                                            <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                            <div class="lower_matches float_left">
                                                <h4 class="lower_m1"><img src="~/images/BR-Flag-copy.png" alt=""> Team A</h4>
                                                <h4 class="lower_m2">VS <img src="~/images/BR-Flag-copy.png" alt=""> Team B</h4>
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                                    <ul class="dropdown-menu">
                                                        <li><img src="~/images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                        <li><img src="~/images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                    </ul>
                                                    <h4 class="tour_time">01:30</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tournament_stream">
                                        <div class="tour_stream_box">
                                            <h4>The International 2016 <span class="grey">@Tournament.Qualifiers</span></h4>
                                            <div class="lower_matches float_left">
                                                <h4 class="lower_m1"><img src="~/images/BR-Flag-copy.png" alt=""> Team A</h4>
                                                <h4 class="lower_m2">VS <img src="~/images/BR-Flag-copy.png" alt=""> Team B</h4>
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                                    <ul class="dropdown-menu">
                                                        <li><img src="~/images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                        <li><img src="~/images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                    </ul>
                                                    <h4 class="tour_time">01:30</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
