@model IEnumerable<DailySports.DataLayer.Model.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Events List</h3>
                </div>
                <div class="box-body">
                    <div class="box-body table-responsive no-padding" style="height: 800px;">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                        Ticket
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Tag)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Location)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Country)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Region)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.City)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EventImage)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EndDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Currency)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                   

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ticket.Notes)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tag)
                                        </td>
                                        <td>
                                            @Html.Raw(item.Description.ToString())

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Country)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Region)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.City)
                                        </td>
                                        <td>
                                            <ul class="enlarge">
                                                <li>
                                                    <img width="150px" height="100px" src="@item.EventImage.Replace("C:\\inetpub\\wwwroot","")" />
                                                    <span><img src="@item.EventImage.Replace("C:\\inetpub\\wwwroot","")" alt="" /><br /> </span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Currency)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Create New", "Create")
            <a href="@Url.Action("Preview","Events")" class="btn btn-success">Preview</a>

        </div>
    </div>

</section>

<style>
    ul.enlarge {
        list-style-type: none; /*remove the bullet point*/
        margin-left: 0;
    }

        ul.enlarge li {
            display: inline-block; /*places the images in a line*/
            position: relative;
            z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
            margin: 10px 40px 0 20px;
        }

        ul.enlarge img {
            background-color: #eae9d4;
            padding: 6px;
            -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
            -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
            box-shadow: 0 0 6px rgba(132, 132, 132, .75);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

        ul.enlarge span {
            position: absolute;
            left: -9999px;
            background-color: #eae9d4;
            padding: 10px;
            font-family: 'Droid Sans', sans-serif;
            font-size: .9em;
            text-align: center;
            color: #495a62;
            -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
            -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
            box-shadow: 0 0 20px rgba(0,0,0, .75);
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }

        ul.enlarge li:hover {
            z-index: 50;
            cursor: pointer;
        }

        ul.enlarge span img {
            padding: 2px;
            background: #ccc;
        }

        ul.enlarge li:hover span {
            top: -50px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
            left: -150px; /*distance from the left of the thumbnail to the left of the popup image*/
        }

        ul.enlarge li:hover:nth-child(2) span {
            left: -100px;
        }

        ul.enlarge li:hover:nth-child(3) span {
            left: -200px;
        }
        /**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
        ul.enlarge img, ul.enlarge span {
            behavior: url(pie/PIE.htc);
        }
</style>