@model IEnumerable<Tournaments>
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Tournaments List</h3>
                </div>
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table id="table" class="table table-hover tablesorter">
                            <thead>
                                <tr>
                                    <th>
                                        Game Name
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Overview)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.URL)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Venue)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TournamentImage)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EndDate)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Game.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @{
                                                var rawText = Regex.Replace(item.Overview, "<(.|\\n)*?>", String.Empty);
                                            }
                                            @String.Format("{0} {1}", rawText.Substring(0, rawText.Length > 200 ? 200 : rawText.Length), rawText.Length > 200 ? "...." : string.Empty)
                                        </td>
                                        <td>
                                            <a href="@item.URL">Link</a>
                                        </td>
                                        <td>
                                            <a href="@Globals.CDNContent(item.TournamentImage)">Link</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Venue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndDate)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                } 
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Create New", "Create")
            <a href="@Url.Action("Preview","Tournaments")" class="btn btn-success">Preview</a>

        </div>
    </div> 
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $("#table").tablesorter();
    }
    );
</script>