@model DailySports.ServiceLayer.Dtos.LatestDto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_bg_image">
    <div class="home_carousel">
        <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/Slider-Manila.png" alt="#">
                    <div class="carousel-caption">
                        <div class="home_upper_heading">
                            <h5>CHECK OUT THE LATEST NEWS AND LIVE<br> COVERAGE FOR THE MANILA MAJOR</h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/Slider-TI6-Event.png" alt="#">
                    <div class="carousel-caption">
                        <div class="home_upper_heading">
                            <h5>Loreum ipsum is dummy data CHECK <br> OUT THE LATEST NEWS AND LIVE</h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/Slider-DES.png" alt="#">
                    <div class="carousel-caption">
                        <div class="home_upper_heading">
                            <h5>Loreum ipsum is dummy data CHECK <br> OUT THE LATEST NEWS AND LIVE</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom_carousel_indi">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="indi_active active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="indi_active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="indi_active"></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container bg-inherit">
        <div class="home_content">
            <!--<div class="content_bg_img"></div>-->
            <div class="h_content">
                <div class="col-sm-8 layout_col pad-zero br-right">
                    <div class="latest_new_videos">
                        <div class="heading">
                            <h4 class="col-sm-6 f_bol main_head">latest news</h4>
                            <h4 class="col-sm-6 f_bol main_head">Latest videos</h4>
                        </div>
                        <div class="latest_new_videos_box">
                            @foreach (var news in Model.LatestNews)
                            {
                            <div class="col-sm-6 home_small_video_box">
                                <div class="home_small_box">
                                    <div class="news_area bg-image" style="background-image: url('@news.NewsImage')">
                                        <div class="news_dota_ico"><img src="@news.Game.GameImage" alt="@news.Game.Name" class=""></div>
                                        <div class="news_title">
                                            <a href="@Url.Action("GetNews","News")"><h3>@news.Title</h3></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            } 
                            @foreach (var video in Model.LatestVideos)
                            {
                                <div class="col-sm-6 home_small_video_box">
                                    <div class="home_small_box">
                                        <div class="news_area bg-image" style="background-image: url('@video.URL')">
                                            <div class="news_dota_ico"><img src="~/images/CoD.png" alt="#" class=""></div>
                                            <div class="news_title">
                                                <a href="@Url.Action("GetVideo","Video",new {@id=video.Id })"><h3>@video.Title</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }                          
                             <!-- Button -->
                            <div class="col-sm-6">
                                <div class="videos_btn_box">
                                    <a href="@Url.Action("Index","News")" class="btn">More news</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="videos_btn_box">
                                    <a href="@Url.Action("Index","Video")" class="btn">More videos</a>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="adds">
                                    <h3>Add Space</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="latest_tournaments">
                        <h4 class="tournaments_title f_bol main_head">latest tournaments</h4>
                        @foreach (var tournament in Model.LatestTournament)
                        {
                        <div class="tournament_box">
                            <div class="col-sm-4 tournament_box_img pad-zero">
                                <img src="@tournament.TournamentImage" alt="#">
                            </div>
                            
                        </div>
                        }

                        <a href="@Url.Action("Index","Tournament")" class="btn more_tour_btn">more tournaments</a>
                    </div>
                    <div class="latest_events">
                        <div class="col-sm-12">
                            <h4 class="latest_events_title f_bol main_head">LATEST EVENTS</h4>
                            @foreach (var Event in Model.LatestEvents)
                            {
                            <div class="latest_event_box">
                                <a href="@Url.Action("GetEvent","Event",new {@id=Event.Id })">
                                    <div class="col-sm-9 latest_event_img pad-zero bg-image" style="background-image:url('@Event.EventImage')">
                                        <div class="event_details">
                                            <div class="event_name">@Event.Title</div>
                                            <div class="countdown">
                                                <div class="timing-titles"><span>@Event.StartDate.Value.Day</span><span>@Event.StartDate.Value.Hour</span><span>MINUTES</span><span>Seconds</span></div>
                                                <div class="times"><span>00</span><span>00</span><span>00</span><span>00</span></div>
                                            </div>
                                            <div class="event_city">@Event.Location</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="col-sm-3 event_buy pad-zero hvr-bounce-to-top">
                                    <h3><a >Buy tickets</a></h3>
                                </div>
                            </div>

                            }
                            <a href="@Url.Action("Index","Event")" class="btn more_tour_btn">more events</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 sidebar_col pad-zero br-top">
                    <div class="side_bar">
                        <div class="col-sm-12 live_games">
                            <h4 class="f_bol main_head">LIVE GAMES</h4>
                            @foreach (var game in Model.LiveGames)
                            {
                            <div class="live_game_box bg-image" style="background-image: url('@game.GameImage')">
                                <h4 class="live_upper">@game.Name</h4>
                                <h4 class="live_middle">GROUP STAGES - BO3</h4>
                                <a href="@game.LiveStreamURL" class="btn">watch now</a>
                            </div>
                            }
                            
                        </div>
                        <div class="matches_sidebar float_left">
                            <h4 class="col-sm-12 f_bol main_head">NEXT MATCHES</h4>
                            <div class="matches_box">
                                @foreach (var match in Model.NextMatches)
                                {
                                <div class="matches_con">
                                    <div class="col-sm-1 matches_box_img pad-zero">
                                        <img src="~/images/Smash.png" alt="#">
                                    </div>
                                    <div class="col-sm-11 matches_box_con pad-zero">
                                        <div class="upper_matches">
                                            <h5>@match.TournamentName  <span>Americas Qualifier Semifinals</span></h5>
                                        </div>
                                        <div class="lower_matches">
                                            <h5 class="lower_m1"><img src="~/images/BR-Flag-copy.png" alt=""> @match.TeamAName</h5>
                                            <h5 class="lower_m2">VS <img src="~/images/BR-Flag-copy.png" alt=""> @match.TeamBName</h5>
                                            <h5 class="lower_m3">@match.Date.ToLocalTime()</h5>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Watch >
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><img src="~/images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                                    <li><img src="~/images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                                
                            </div>
                        </div>
                        <div class="pet_day float_left">
                            <h4 class="f_bol col-sm-12 main_head">PET OF THE WEEK</h4>
                            <div class="pet_of_day float_left">
                                @foreach (var pet in Model.PetOfTheWeek)
                                {
                                <div class="bg-image pet_image" style="background-image:url('../images/@pet.PetImage')">
                                    <div class="pet_day_heading"><h4>@pet.Title</h4></div>
                                    <div class="pet_day_overlay">
                                        <p>Name: @Html.Raw(pet.Description.ToString())</p>
                                        
                                        @if (pet.Gender == true)
                                        {
                                            <p>Gender: Female</p>

                                        }
                                        else
                                        {
                                            <p>Gender: Male</p>

                                        }
                                        <p>Age: @pet.Age</p><p>Breed: Mixed</p>
                                        <p>Fun Fact: @pet.FunFact </p>
                                        <p>Owner: @pet.Owner </p>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        <h4 class="f_bol col-sm-12 float_left">#DAILYESPORTS</h4>
                        <div class="twitter_widget col-sm-12">
                            <a data-height="500" class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets - Curated tweets by TwitterDev</a>
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>

