@model IEnumerable<TeamList>
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">TeamLists List</h3>
                </div>
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table id="table" class="table table-hover tablesorter">
                            <thead>
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Tournament
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @{
                                                var rawText = (item.Description != null) ? Regex.Replace(item.Description, "<(.|\\n)*?>", String.Empty) : "";
                                            }
                                            @String.Format("{0} {1}", rawText.Substring(0, rawText.Length > 200 ? 200 : rawText.Length), rawText.Length > 200 ? "...." : string.Empty)
                                            @item.Description
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tournament.Title)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Create New", "Create")
        </div>
    </div>

</section>
<script type="text/javascript">
    $(document).ready(function () {
        $("#table").tablesorter();
    }
    );
</script>